@model Database.Models.Glass

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasted)
        </dd>

    </dl>

    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-1 col-md-11">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }

    <p>@Html.ActionLink("Back to List", "Index")</p>
</div>
