@model List<Database.Models.Glass>


@{
    ViewBag.Title = "Index";
}


@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <span>@ViewBag.Message</span>
}

<div id="status">
    @if (ViewBag.all == ViewBag.tasted)
    {
        <h2>Mission Accomplished!!</h2>
        <h2>Du har testat alla dina @ViewBag.all glassar!! </h2>
    }
    else
    {
        if (ViewBag.all > 1)
        {
            <h3>Du har testat @ViewBag.tasted av dina @ViewBag.all glassar!</h3>
        }
        else
        {
            <h3>Du har testat @ViewBag.tasted av din @ViewBag.all glass!</h3>
        }
    }
</div>  
       

@foreach (var item in Model) 
{
    <div id="glass">
        <h2>
            @Html.DisplayFor(modelItem => item.Name)
        </h2>
        <h3>
            @Html.DisplayFor(modelItem => item.Maker) / @Html.DisplayFor(modelItem => item.Price):-
        </h3>
    
        @if (!String.IsNullOrEmpty(item.Picture))
        {
            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="IMAGE" />
        }
        else
        {
            <img src="~/Content/Images/default.png" alt="IMAGE" />
        }

        @if (item.Tasted)
        {
            <div id="tasted-check"><img src="~/Content/Images/tasted.png" /></div>
        }

          
       
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Tasted", "Glass", new { id = item.ID }))
            {
                @Html.AntiForgeryToken()
            
               
                    <div class="form-actions no-color">
                    @if (item.Tasted)
                    {
                        <input type="submit" value="Uncheck" class="btn btn-no" />
                    }
                    else
                    {
                        <input type="submit" value="Check!" class="btn btn-default" />
                    }
                    </div>
              
            }
            <br />
            <p>@Html.ActionLink("Ändra", "Edit", new { id = item.ID }) | @Html.ActionLink("Ta bort", "Delete", new { id = item.ID })</p>
        }
                
     

    </div>    
}

<div style="clear: both;"></div>

