@model List<Database.Models.Glass>


@{
    ViewBag.Title = "Index";
}


@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <span>@ViewBag.Message</span>
}
      
@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (ViewBag.all == ViewBag.tasted)
{
    <h2>Mission Accomplished!! Du har testat alla dina @ViewBag.all glassar!! </h2>
}
else
{
    if (ViewBag.all > 1)
    {
        <h3>Du har testat @ViewBag.tasted av dina @ViewBag.all glassar!</h3>
    }
    else
    {
        <h3>Du har testat @ViewBag.tasted av din @ViewBag.all glass!</h3>
    }
}
       

@foreach (var item in Model) 
{
    <div id="glass">
        <h2>
            @Html.DisplayFor(modelItem => item.Name)
        </h2>
        <h3>
            @Html.DisplayFor(modelItem => item.Maker) / @Html.DisplayFor(modelItem => item.Price):-
        </h3>
    
        @if (!String.IsNullOrEmpty(item.Picture))
        {
            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="IMAGE" />
        }
        else
        {
            <img src="~/Content/Images/default.png" alt="IMAGE" />
        }
  
       
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Tasted", "Glass", new { id = item.ID }))
            {
                @Html.AntiForgeryToken()
            
               
                    <div class="form-actions no-color">
                        <input type="submit" value="Testat" class="btn btn-default" />
                    </div>
              
            }

            <p>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) | @Html.ActionLink("Delete", "Delete", new { id = item.ID })</p>
        }

    </div>    
}

<div style="clear: both;"></div>

