@model List<Database.Models.Glass>


@{
    ViewBag.Title = "Index";
}


@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <span>@ViewBag.Message</span>
}
      
@if (Request.IsAuthenticated)
        {<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

@if (ViewBag.all == ViewBag.tasted)
{
    <h2>Mission Accomplished!! Du har testat alla dina @ViewBag.all glassar!! </h2>
}
else
{
    if (ViewBag.all > 1)
    {
        <p>Du har testat @ViewBag.tasted av dina @ViewBag.all glassar!</p>
    }
    else
    {
        <p>Du har testat @ViewBag.tasted av din @ViewBag.all glass!</p>
    }
}
    
    

@foreach (var item in Model) 
{
   <div id="glass">
        <h2>
            @Html.DisplayFor(modelItem => item.Name)
        </h2>
        <h3>
            @Html.DisplayFor(modelItem => item.Maker)
        </h3>

        @if (!String.IsNullOrEmpty(item.Picture))
        {
            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="IMAGE" height="200" />
        }
        else
        {
            <img src="~/Content/Images/default.png" alt="IMAGE" height="200" />
        }

        <p>@Html.DisplayFor(modelItem => item.Price):-</p>

        @if (Request.IsAuthenticated)
        {
            @Html.DisplayFor(modelItem => item.Tasted)

            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })


            using (Html.BeginForm("Tasted", "Glass", new { id = item.ID }))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Tasted" class="btn btn-default" />
                </div>
            }  
        }  

</div>    
}

<div style="clear: both;"></div>

