@model System.Collections.Generic.List<Glassa.Models.Glass>

@{
    ViewBag.Title = "Tasted";
}

<h2>Tasted</h2>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <span>@ViewBag.Message</span>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div id="glass">
        <h2>
            @Html.DisplayFor(modelItem => item.Name)
        </h2>
        <h3>
            @Html.DisplayFor(modelItem => item.Maker)
        </h3>

        @if (!String.IsNullOrEmpty(item.Picture))
        {
            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="IMAGES" height="200" />
        }
        else
        {
            <img src="~/Content/Images/default.png" alt="IMAGES" height="200" />
        }

        <p>@Html.DisplayFor(modelItem => item.Price):-</p>

        @Html.DisplayFor(modelItem => item.Tasted)

        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })


        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => item.ID)
            @Html.EditorFor(model => item.Tasted)
            <input type="submit" value="Ätit" class="btn btn-default" />
        }


    </div>
}

<div style="clear: both;"></div>

